<style type="text/css">

.nothingInHere{}

.Cool {
	background-color: #336699;
	font-family: "Courier New";
}
.columnTitle{
	font-size: 35px;
	margin: 10px;
}

.space{
	margin: 20px;
	
}
a{
	font-size: 20px;

}

div{
	margin: 0px;
	
}
h1{
	margin: 0px;
	padding: 30px;
}
.ptext{
	font-size: 20px;
}

.big{
	font-size: 160%;
	
}

.medium{
	font-size: 140%;
}

.huge{
	font-size: 350%;
	
}
.sBorder{
	border-style: solid;
	border-radius: 5px;
}

.myBorder{
	border-style: solid;
	border-width: 5px;
	font-weight: bold;
	color:  #6C757D;
	background-color:  #6C757D;
	margin: 0px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}

table, th, td{
	border: 5px solid #45aacc;
	padding: 5px;
	text-align: center;
	font-family: "Courier New";
}
.italic{
	font-style: italic;
}
.text-white{
	color: white;
}
.text-black{
	color: black;
}
.text-red{
	color: red;
}
.bg-secondary{
	background-color: #ffffff;
}
			
a:hover {
	color: blue;
}
body{
	margin: 0px;
	padding-left: 6%;
	padding-right: 6%;
}
.floatcenter{
	text-align: center;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}

.middle{
	text-align: center;
	margin: auto;
	padding:0px;
}
#center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
img{
	margin: 40px;
	padding: 20px;
}

.rotateR{
	transform: rotate(90deg);
}
.rotateL{
	transform: rotate(-90deg);
}

* {
	box-sizing: border-box;
}



/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;

 
}
.columnImg{
	float: left;
	width: 50%; 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  margin: 5px;
  color: black;
}



</style>